# LLM

DEEPSEEK_API_KEY=your_deepseek_api_key_here
DEEPSEEK_API_URL=https://api.deepseek.com/v1
DEEPSEEK_MODEL=deepseek-chat



# WEB SEARCH

TAVILY_API_KEY=your_tavily_api_key_here



# LANGSMITH TRACING

LANGSMITH_API_KEY=your_langsmith_api_key_here
LANGSMITH_TRACING_V2= true
LANGSMITH_ENDPOINT=https://api.langsmith.com/v2
LANGSMITH_PROJECT_NAME=ai-support-agent



# TELEGRAM

TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here



# SLACK

SLACK_WEBHOOK_URL=your_slack_webhook_url_here
SLACK_ESCALATION_CHANNEL=#support-escalation


# Postgresql

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=supersecretpassword
POSTGRES_DB=ai_support_agent
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}


# REDIS

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=mysecretpassword
REDIS_URL=redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}



# VECTOR DATABASE

FAISSAL_INDEX_PATH=./vector_store/faiss_index
EMBEDDINGS_MODEL=sentence-transformers/all-MiniLM-L6-v2



# SENTIMENT

SENTIMENT_NEGATIVE_THRESHOLD=-0.5
SENTIMENT_ESCALATION_COUNT=0.3


# FASTAPI

API_HOST=0.0.0.0
API_PORT=8000
API_SECRET_KEY=mysecretpassword



# PROMETHEUS

PROMETHEUS_PORT=9090