fastapi
uvicorn[standard]
python-multipart
pydantic>=2.7.4
pydantic-settings
langchain
langchain-core
langchain-community
langchain-text-splitters
langsmith
openai
faiss-cpu
rank-bm25
flashrank
asyncpg
psycopg2-binary
redis
pypdf
python-docx
unstructured
prometheus-fastapi-instrumentator
prometheus-client
python-dotenv
httpx
tenacity
loguru
numpy
fastembed
jaraco.classes
discord.py==2.3.2
aiohttp